#functionsMenuImg, #playerStyleImg {
    position: absolute;
    visibility: hidden;
    opacity: 0.5;
}

#functionsMenuImg {
    left: 50px;
}

#funcMenuDiv {
    position: absolute;
    overflow: hidden;
    min-width: 86px;
    min-height: 50px;
    right: 254px;
    top: 50px;
}

#funcMenuTop {
    padding-top: 15px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#funcMenuBot {
    font-size: 0.8em;
    line-height: 1.5em;
    overflow: auto;
    /* min-height: 70px; */
}

.funcBtn:hover {background: rgb(73, 73, 73);}
.funcBtn {
    border: none;
    background-color: rgb(56, 56, 56); /* background-color: inherit; */
    color: whitesmoke;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
/* .success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;} */

#fm0 {
    padding: 10px 10px;
}
